.memory-game {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 20px;
    background-image: url('../assets/background/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-items: center;
}

.card {
    width: 100px;
    height: 150px;
    cursor: pointer;
    perspective: 1000px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Styles pour les écrans plus grands */
@media (min-width: 600px) {
    .card {
        width: 120px;
        height: 180px;
    }
}

@media (min-width: 900px) {
    .card {
        width: 150px;
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .memory-game {
        grid-template-columns: repeat(4, 1fr); /* 4 colonnes sur les grands écrans */
    }

    .card {
        width: 180px; /* Ajustement de la taille des cartes pour les grands écrans */
        height: 240px;
    }
}